@font-face {
  font-family: 'Montserrat-Regular';
  src: url('/public/fonts/Montserrat-Regular.ttf');
}

@font-face {
  font-family: 'Montserrat-Light';
  src: url('/public/fonts/Montserrat-Light.ttf');
}

@font-face {
  font-family: 'Montserrat-Thin';
  src: url('/public/fonts/Montserrat-Thin.ttf');
}


body {
  margin: 0;
  font-family: 'Montserrat-Regular', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
